@use "base";
@use "abstract";
@use "layout/container";
@use "layout/column";
@use "components/button";
@use "components/form";
@use "components/card";
@use "vendors/leaflet";

main {
  display: grid;
  min-height: 100vh;
  grid-template-rows: 17.75rem 1fr;
}

.top {
  background-image: url(../images/pattern-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.details {
  padding: var(--size-500);
  display: grid;
  gap: var(--size-400);
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;

  &__heading {
    font-size: 10px;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    color: var(--clr-neutral-200);
    letter-spacing: 2px;
  }

  &__data {
    font-size: 20px;
    font-weight: var(--fw-semi-bold);
    word-break: break-word;
  }
}

.map {
  position: relative;
  z-index: 0;
}

@media (min-width: 50em) {
  .details {
    grid-auto-flow: column;
    text-align: start;
    grid-auto-columns: minmax(0, 1fr);
    gap: var(--size-600);
    padding: var(--size-600);

    &__heading {
      font-size: 13px;
    }

    &__data {
      font-size: 26px;
      margin-top: 0.35em;
    }

    &__col:not(:last-child) {
      border-right: 1px solid var(--clr-neutral-150);
    }
  }
}
