.form {
  margin-bottom: var(--size-500);
  max-width: 35rem;
  margin-inline: auto;

  @media (min-width: 40em) {
    margin-bottom: var(--size-700);
  }

  &__group {
    display: flex;
  }

  &__input {
    position: relative;
    isolation: isolate;

    &--has-error input,
    input:invalid {
      border-color: var(--clr-secondary-400);
    }
  }

  &__feedback {
    background-color: transparent;
    color: var(--clr-neutral-100);
    display: block;
    margin-top: -0.33em;
    border-radius: var(--size-400) 0 0 var(--size-400);
    font-size: var(--fs-400);
    font-style: italic;
    text-align: start;
    padding: 0.5em 1em;
    transform: translateY(-2.5em);
    opacity: 0;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;

    &--error {
      background-color: var(--clr-secondary-400);
    }
  }

  &__feedback-icon {
    position: absolute;
    right: 1em;
    top: 0.9em;
    z-index: 1;
    transform: scale(0);
    transition: transform 0.2s ease-in-out;
  }

  &--has-error,
  input:invalid {
    ~ .form__feedback-icon {
      transform: scale(1);
    }
  }

  &--has-error .form__feedback,
  input:invalid ~ .form__feedback {
    transform: translateY(0);
    opacity: 1;
  }

  &__input-control {
    position: relative;
    z-index: 1;
  }
}

input {
  width: 100%;
  background-color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  padding: 0.8333em 1.5em;
  border-radius: var(--size-400) 0 0 var(--size-400);
  color: var(--clr-neutral-400);
  transition: box-shadow 0.2s ease-in-out;

  &:focus-visible,
  &:active {
    outline: none;
    border-color: var(--clr-neutral-400);
  }

  &::placeholder {
    color: var(--clr-neutral-200);
  }
}

@media (min-width: 40em) {
  .form__feedback {
    position: absolute;
    left: 0;
    right: 0;
  }
}
