.form {
  margin-bottom: var(--size-500);
  max-width: 35rem;
  margin-inline: auto;

  @media (min-width: 40em) {
    margin-bottom: var(--size-700);
  }

  &__group {
    display: flex;
    position: relative;
  }

  &__input {
    position: relative;
    isolation: isolate;

    &--has-error input,
    input:invalid {
      border-color: var(--clr-secondary-400);
    }
  }

  &__feedback {
    background-color: var(--clr-secondary-400);
    color: var(--clr-neutral-100);
    margin-top: -0.33em;
    border-radius: var(--size-200);
    font-size: 0.875rem;
    text-align: start;
    padding: 0.5em 1em;
    transform: translateY(-2.5em);
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    position: absolute;
    opacity: 0;
    transform: translateY(-1.5rem);
    left: 0;
    right: 0;
    top: 3.75rem;
    z-index: -1;

    &[aria-hidden="false"] {
      opacity: 1;
      transform: translateY(0);
      z-index: 2;
    }
  }

  &.has-error input {
    box-shadow: 0 0 0 2px var(--clr-secondary-400) inset;
  }
}

input {
  width: 100%;
  background-color: var(--clr-neutral-100);
  font-size: var(--fs-400);
  padding: 0.8333em 1.5em;
  border-radius: var(--size-400) 0 0 var(--size-400);
  color: var(--clr-neutral-400);
  transition: box-shadow 0.2s ease-in-out;

  &:focus-visible,
  &:active {
    outline: none;
    border-color: var(--clr-neutral-400);
  }

  &::placeholder {
    color: var(--clr-neutral-200);
  }
}
